*{
    background-color: rgba(0, 0, 0, 0.683);
}
#heading{
    text-align: center;
    font-size: 50px;
    color: rgb(245, 245, 245);
    background-color: rgb(107, 98, 98);
}
p{
    font-size: 20px;
    color: rgb(255, 241, 241);
    font-weight: 200;
    text-align: center;
}
#container{
    border: red 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}